.input {
    border-radius: 5px;
    background: rgb(158, 106, 243);
    width: 400px;
    height: 100px;
    color: black;
}
.input::placeholder {
    color: black;
    font-size: large;
}

.button {
    background: rgb(98, 0, 255);
    width: 450px;
    height: 100px;
    color: #fff;
    font-size: large;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}